#annee1998{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
}
#annee1998.page-wrap{
    background: url("./Backgrounds/starbackground.gif");
}
#annee1998 .content{
    position: relative;
    width: 915px;
    margin:0 auto;
    padding-top: 20px;
}
#annee1998 .content h1{
    text-align: center;
    margin-top: 0;
}
marquee img{
    height: 60px;
}
#annee1998 h2,#annee1998 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}
#annee1998 #Intro{
    font-style: italic;
}