#banner1996.parallax-banner{
    background-image:url("/Banners/1996.jpg");
}
#annee1996{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
#annee1996 h1{
    text-align: center;
    font-family: fantasy;
}
#annee1996 table{
    border-spacing: 0;
}
#annee1996 td{
    vertical-align: top;
    border-top: 2px dashed green;
}
#annee1996 #Left-navbar,#annee1996 #Left-navbar img{
    background: green;
    max-width: 20vw;
}
/*↓↓ Version Téléphone (aucun rapport avec l'époque mais trop d'impact pour l'expérience utilisateur sur téléphone ↓↓*/
@media only screen and (max-width:425px){
    #annee1996 #Left-navbar{
        display:none;
    }
    #annee1996 #Main-content{
        max-width: 100dvw;
    }
}