#banner1998.parallax-banner{
    background-image: url("/Banners/1998.jpg");
}
#annee1998{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
}
#annee1998.page-wrap{
    background: url("../Backgrounds/starbackground.gif");
}
#annee1998 .content{
    position: relative;
    /* ↓↓ max-width n'existait pas en 1998 mais l'expérience utilisateur prime (soft responsive) ↓↓ */
    max-width: 915px;
    margin:0 auto;
    padding-top: 20px;
    background: rgba(43, 43, 44, 0.479);
}
/* @media screen and (max-width:915px) {
    #annee1998 .content{
        width: 600px;
    }
}
@media screen and (max-width:600px) {
    #annee1998 .content{
        width: 425px;
    }
} */
#annee1998 .content h1{
    text-align: center;
    margin-top: 0;
    border: groove 8px rgb(0, 183, 255);
}
marquee img{
    height: 60px;
}
#FrontPageImg{
    height: 170px;
}
#annee1998 h2,#annee1998 p{
    font-family: 'Courier New', Courier, monospace;
}
#annee1998 h2{
    font-size: 1.2em;
    text-align: center;
    background: rgba(216, 216, 238, 0.5);
}
#annee1998 .Intro{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
